* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.range[type="range"] {
  -webkit-appearance: none;
  margin-right: 15px;
  width: 100px;
  height: 2px;
  background: rgba(255, 255, 255, 0.6);
  /* border-radius: 5px; */
  background-image: linear-gradient(#2c2c2c, #2c2c2c);
  
  background-repeat: no-repeat; 
}

.range[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #291e1a;
  cursor: n-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background .3s ease-in-out;
}

.range[type=range]::-webkit-slider-runnable-track  {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}